CREATE DATABASE IF NOT EXISTS TestDB1;
CREATE DATABASE IF NOT EXISTS TestDB2;
CREATE USER IF NOT EXISTS '${MYSQL_USER}'@'%' IDENTIFIED BY '${MYSQL_PASSWORD}';
GRANT ALL PRIVILEGES ON TestDB1.* TO '${MYSQL_USER}'@'%';
GRANT ALL PRIVILEGES ON TestDB2.* TO '${MYSQL_USER}'@'%';
FLUSH PRIVILEGES;
